<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.DealerDao">
  <resultMap id="BaseResultMap" type="com.spring.entity.Dealer">
    <result column="id" property="id" jdbcType="VARCHAR"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="phone" property="phone" jdbcType="VARCHAR"/>
    <result column="state" property="state" jdbcType="VARCHAR"/>
    <result column="notes" property="notes" jdbcType="VARCHAR"/>
  </resultMap>
  <insert id="insertDealer" parameterType="Dealer">
    insert into dealer (id, name, phone, state, notes)
    values (#{id}, #{name}, #{phone}, #{state}, #{notes})
  </insert>
  <select id="selectDealer" resultType="Dealer">
    select *
    from dealer
    where id = #{id}
  </select>
  <select id="selectDealerByPage" parameterType="Map" resultMap="BaseResultMap">
    select *
    from dealer where 1 = 1
    <if test="keyWord != null and keyWord != ''">
      and name like concat('%',#{keyWord},'%')
    </if>
    <if test="PageStart!=null and PageSize!=null and PageSort!=null and PageAsc!=null">
      ORDER BY #{PageSort} #{PageAsc}
      limit #{PageStart},#{PageSize}
    </if>
  </select>
  <select id="selectCountByDealer" resultType="java.lang.Integer">
    select count(*)
    from dealer
  </select>
  <update id="updateDealer" parameterType="Dealer">
    update dealer
    set name=#{name},
        phone=#{phone},
        state=#{state},
        notes=#{notes}
    where id = #{id}
  </update>
  <delete id="deleteDealer" parameterType="Dealer">
    delete
    from dealer
    where id = #{id}
  </delete>
  <select id="selectDealerById" resultType="Dealer">
    select *
    from dealer
    where id = #{id}
  </select>
  <select id="selectDealerNyName" resultMap="BaseResultMap">
    select *
    from dealer
    where name = #{name,jdbcType=VARCHAR}
  </select>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, phone, `state`, notes
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from dealer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from dealer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Dealer">
    <!--@mbg.generated-->
    insert into dealer (id, `name`, phone,
    `state`, notes)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
    #{state,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Dealer">
    <!--@mbg.generated-->
    insert into dealer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="state != null">
        `state`,
      </if>
      <if test="notes != null">
        notes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Dealer">
    <!--@mbg.generated-->
    update dealer
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        `state` = #{state,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Dealer">
    <!--@mbg.generated-->
    update dealer
    set `name` = #{name,jdbcType=VARCHAR},
    phone = #{phone,jdbcType=VARCHAR},
    `state` = #{state,jdbcType=VARCHAR},
    notes = #{notes,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="countDealerWithKey" resultType="int">
    select count(id)
    from dealer
    <if test="keyWord != null and keyWord != ''">
      where name like concat('%', #{keyWord,jdbcType=VARCHAR}, '%')
    </if>
  </select>
</mapper>